.category-section-2 {
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: right;
  
  }
  
  .category-section-2 h2 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .category-grid-2 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    
  }
  
  .category-item-2 {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 200px; /* 📏 กำหนดขนาดเท่ากัน */ /* 📏 ความสูงเท่ากัน */
    height: 250px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* เงาลึกทั่วทุกด้าน */
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
  }
  .category-item-2 img{
    width: 130px;                                                                                                                                                                                                                                                                           
  }
  
  .category-item-2:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .category-item-2 i {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .category-item-2 span {
    font-size: 20px;
    font-weight: 500;
    color: #333;
  }
  .category-item-2 p{
    font-size: 12px;
    text-align: left;
  }